.syntaxhighlighter{
    padding: 15px 0;
    font-size: 14px !important;
}
body.user article{
    margin: 30px 0;
}
body.user article .text{
    padding-bottom: 30px;
}
body.user article header h1{
    font-size: 24px;
}
article .text{
    font-size: 14px;
}
article>header h1{
    font-size: 32px;
}
article .text h2{
    font-size: 24px;
}
article .text h2{
    font-size: 14px;
}
body.user article{
    margin: 20px 0;
}